@import "../../App.scss";
.faq {
  @include flex(column, center);
  margin-top: 150px;
  padding: 0 10%;
  &__header {
    @include flex(column, center);
    text-align: center;
    gap: 20px 0;
    max-width: 500px;
    margin: auto;
    h2 {
      text-transform: capitalize;
    }
  }
  &__main {
    @include flex(column, flex-start);
    gap: 40px 0;
    margin-top: 60px;
    &__first,
    &__second,
    &__third,
    &__fourth {
      @include underline(hsla(229, 8%, 60%, 0.3), 20px);
      &__question {
        @include flex(row, space-between);
        width: 80vw;
        max-width: 500px;
        p {
          color: $veryDarkBlue;
          font-size: 15px;
        }
      }
      &__answer {
        transition: opacity 200ms, display 200ms;
        display: none;
        opacity: 0;
        margin-top: 20px;
        max-width: 500px;
        &.active {
          display: block;
          opacity: 1;
        }
      }
      &::after {
        max-width: 500px;
        transform: translate(-50%, 20px);
        left: 50%;
      }
    }
  }
  &__btn {
    @include btn($softBlue);
    margin-top: 80px;
    padding: 15px 20px;
  }
  @media (min-width: 1024px) {
    margin-top: 300px;
  }
}
