@import "../../App.scss";
.faq {
  @include flex(column, center);
  margin-top: 9.375rem;
  padding: 0 10%;
  &__header {
    @include flex(column, center);
    text-align: center;
    gap: 1.25rem 0;
    max-width: 31.25rem;
    margin: auto;
    h2 {
      text-transform: capitalize;
    }
  }
  &__main {
    @include flex(column, flex-start);
    gap: 2.5rem 0;
    margin-top: 3.75rem;
    &__first,
    &__second,
    &__third,
    &__fourth {
      @include underline(hsla(229, 8%, 60%, 0.3), 1.25rem);
      &__question {
        @include flex(row, space-between);
        width: 80vw;
        max-width: 31.25rem;
        p {
          color: $veryDarkBlue;
          font-size: 0.9375rem;
        }
      }
      &__answer {
        transition: opacity 200ms, display 200ms;
        display: none;
        opacity: 0;
        margin-top: 1.25rem;
        max-width: 31.25rem;
        &.active {
          display: block;
          opacity: 1;
        }
      }
      &::after {
        max-width: 31.25rem;
        transform: translate(-50%, 1.25rem);
        left: 50%;
      }
    }
  }
  &__btn {
    @include btn($softBlue);
    margin-top: 5rem;
    padding: 0.9375rem 1.25rem;
  }
  @media (min-width: 64rem) {
    margin-top: 18.75rem;
  }
}
