@import "../../App.scss";
.intro {
  @include flex(column, center);
  gap: 3.75rem 0;
  padding: 0 5%;
  text-align: center;
  margin-top: 2.5rem;
  &__hero {
    @include bgShape(80vw, 12.5rem, 3.125rem);
    img {
      width: 90vw;
      max-width: 33.75rem;
    }
  }
  &__info {
    @include flex(column, center);
    gap: 1.25rem;
    h1 {
      color: $veryDarkBlue;
      text-transform: capitalize;
    }
    p {
      color: $grayishBlue;
    }
    &__btns {
      @include flex(row, center);
      gap: 1.25rem;
      &__chrome {
        @include btn($softBlue);
        padding: 0.9375rem;
      }
      &__firefox {
        @include btn(hsla(229, 8%, 60%, 0.1));
        box-shadow: 0 0.125rem 0.3125rem 0 $grayishBlue;
        color: $veryDarkBlue;
        padding: 0.9375rem;
        &:hover {
          box-shadow: 0 0 0 0.125rem $grayishBlue;
          color: $grayishBlue;
        }
      }
    }
  }
  @media (min-width: 48rem) {
    @include flex(row-reverse, space-between);
    gap: 1.25rem 0;
    padding: 0 5% 0 10%;
    text-align: left;
    margin-top: 3.75rem;
    &__hero {
      @include bgShape(40vw, 12.5rem, 5rem);
      img {
        width: clamp(22.5rem, 40vw, 37.5rem);
      }
    }
    &__info {
      align-items: flex-start;
      max-width: 31.25rem;
      padding: 0;
    }
  }
  @media (min-width: 64rem) {
    &__info {
      h1 {
        font-size: 2.375rem;
      }
    }
  }
  @media (min-width: 75rem) {
    &__hero {
      @include bgShape(30vw, 18.75rem, 6.25rem);
    }
  }
}
