@import "../../App.scss";
.intro {
  @include flex(column, center);
  gap: 60px 0;
  padding: 0 5%;
  text-align: center;
  margin-top: 40px;
  &__hero {
    @include bgShape(80vw, 200px, 50px);
    img {
      width: 90vw;
      max-width: 540px;
    }
  }
  &__info {
    @include flex(column, center);
    gap: 20px;
    h1 {
      color: $veryDarkBlue;
      text-transform: capitalize;
    }
    p {
      color: $grayishBlue;
    }
    &__btns {
      @include flex(row, center);
      gap: 20px;
      &__chrome {
        @include btn($softBlue);
        padding: 15px;
      }
      &__firefox {
        @include btn(hsla(229, 8%, 60%, 0.1));
        box-shadow: 0 2px 5px 0 $grayishBlue;
        color: $veryDarkBlue;
        padding: 15px;
        &:hover {
          box-shadow: 0 0 0 2px $grayishBlue;
          color: $grayishBlue;
        }
      }
    }
  }
  @media (min-width: 768px) {
    @include flex(row-reverse, space-between);
    gap: 20px 0;
    padding: 0 5% 0 10%;
    text-align: left;
    margin-top: 60px;
    &__hero {
      @include bgShape(40vw, 200px, 80px);
      img {
        width: clamp(360px, 40vw, 600px);
      }
    }
    &__info {
      align-items: flex-start;
      max-width: 500px;
      padding: 0;
    }
  }
  @media (min-width: 1024px) {
    &__info {
      h1 {
        font-size: 38px;
      }
    }
  }
  @media (min-width: 1200px) {
    &__hero {
      @include bgShape(30vw, 300px, 100px);
    }
  }
}
