@import "../../App.scss";
.features {
  text-align: center;
  margin-top: 10rem;
  padding: 0 10%;
  &__header {
    @include flex(column, center);
    gap: 1.25rem 0;
    p {
      max-width: 31.25rem;
    }
  }
  &__main {
    &__navigation {
      @include flex(column, center);
      gap: 2.5rem 0;
      margin-top: 2.5rem;
      button {
        @include underline(hsla(229, 8%, 60%, 0.3), 2.5rem);
        transition: 0.5s;
        text-transform: capitalize;
        color: $grayishBlue;
        &:hover {
          color: $softRed;
        }
        &.active {
          color: $veryDarkBlue;
          box-shadow: 0 1.25rem 0 0 #fff, 0 1.5rem 0 0 $softRed;
          transition: 0.5s;
        }
      }
    }
    &__info {
      margin-top: 6.25rem;
      @include bgShape(80vw, 12.5rem, 1.875rem);
      &::before {
        border-radius: 0 6.25rem 6.25rem 0;
        left: -10%;
      }
      &__image {
        width: 80vw;
        max-width: 25rem;
        &.active {
          animation: fadeIn 1s;
        }
      }
      &__details {
        @include flex(column, center);
        gap: 0.9375rem 0;
        margin-top: 5rem;
        &.active {
          animation: fadeIn 1s;
        }
        button {
          display: none;
        }
      }
    }
  }
  @media (min-width: 48rem) {
    text-align: center;
    &__main {
      &__navigation {
        @include flex(row, center);
        gap: 0 5rem;
        box-shadow: 0 1.5rem 0 0 #fff, 0 1.5625rem 0 0 hsla(229, 8%, 60%, 0.3);
        width: 31.875rem;
        margin: 2.5rem auto 0 auto;
        button {
          &::after {
            display: none;
          }
        }
      }
      &__info {
        @include flex(row, space-between);
        @include bgShape(40vw, 12.5rem, 1.875rem);
        gap: 0 10%;
        text-align: left;
        &::before {
          border-radius: 0 6.25rem 6.25rem 0;
          left: -10%;
        }
        &__image {
          width: 40vw;
          max-width: 31.25rem;
        }
        &__details {
          align-items: flex-start;
          max-width: 25rem;
          button {
            @include btn($softBlue);
            display: block;
            text-transform: capitalize;
            padding: 0.9375rem 1.25rem;
          }
        }
      }
    }
  }
  @media (min-width: 64rem) {
    &__main {
      margin-top: 6.25rem;
      &__info {
        @include bgShape(40vw, 18.75rem, 5rem);
        &::before {
          border-radius: 0 6.25rem 6.25rem 0;
          left: 0;
        }
      }
    }
  }
}
