@import "../../App.scss";
.features {
  text-align: center;
  margin-top: 160px;
  padding: 0 10%;
  &__header {
    @include flex(column, center);
    gap: 20px 0;
    p {
      max-width: 500px;
    }
  }
  &__main {
    &__navigation {
      @include flex(column, center);
      gap: 40px 0;
      margin-top: 40px;
      button {
        @include underline(hsla(229, 8%, 60%, 0.3), 40px);
        transition: 0.5s;
        text-transform: capitalize;
        color: $grayishBlue;
        &:hover {
          color: $softRed;
        }
        &.active {
          color: $veryDarkBlue;
          box-shadow: 0 20px 0 0 #fff, 0 24px 0 0 $softRed;
          transition: 0.5s;
        }
      }
    }
    &__info {
      margin-top: 100px;
      @include bgShape(80vw, 200px, 30px);
      &::before {
        border-radius: 0 100px 100px 0;
        left: -10%;
      }
      &__image {
        width: 80vw;
        max-width: 400px;
      }
      &__details {
        @include flex(column, center);
        gap: 15px 0;
        margin-top: 80px;
        button {
          display: none;
        }
      }
    }
  }
  @media (min-width: 768px) {
    text-align: center;
    &__main {
      &__navigation {
        @include flex(row, center);
        gap: 0 80px;
        // box-shadow: 0 24px 0 0 #fff, 0 25px 0 0 hsla(229, 8%, 60%, 0.3);
        button {
          &::after {
            display: none;
          }
        }
      }
      &__info {
        @include flex(row, space-between);
        @include bgShape(40vw, 200px, 30px);
        gap: 0 10%;
        text-align: left;
        &::before {
          border-radius: 0 100px 100px 0;
          left: -10%;
        }
        &__image {
          width: 40vw;
          max-width: 500px;
        }
        &__details {
          align-items: flex-start;
          max-width: 400px;
          button {
            @include btn($softBlue);
            display: block;
            text-transform: capitalize;
            padding: 15px 20px;
          }
        }
      }
    }
  }
  @media (min-width: 1024px) {
    &__main {
      margin-top: 100px;
      &__info {
        @include bgShape(40vw, 300px, 80px);
        &::before {
          border-radius: 0 100px 100px 0;
          left: 0;
        }
      }
    }
  }
}
