@import "../../App.scss";

.outro {
  background-color: $softBlue;
  padding: 6.25rem 10%;
  margin-top: 6.25rem;
  text-align: center;
  &__info {
    p {
      text-transform: uppercase;
      letter-spacing: 0.125rem;
      font-size: 0.875rem;
      color: #fff;
    }
    h2 {
      color: #fff;
      padding: 0.625rem 0 1.875rem 0;
    }
  }
  &__form {
    @include flex(column, center);
    gap: 1.25rem 0;
    input {
      border: none;
      padding: 0.9375rem 1.25rem;
      color: $grayishBlue;
      border-radius: 0.3125rem;
      width: 80vw;
    }
    button {
      @include btn($softRed);
      width: 80vw;
      padding: 0.9375rem 1.25rem;
      &:hover {
        background-color: #fff;
      }
    }
  }
  @media (min-width: 48rem) {
    margin-top: 12.5rem;
    padding: 3.75rem 10%;
    &__info {
      max-width: 23.75rem;
      margin: auto;
      h2 {
        padding: 1.25rem 0 2.5rem 0;
      }
    }
    &__form {
      @include flex(row, center);
      gap: 0 1.25rem;
      input {
        width: 30vw;
        max-width: 25rem;
      }
      button {
        width: auto;
      }
    }
  }
}
