@import "../../App.scss";
.download {
  margin-top: 9.375rem;
  text-align: center;
  padding: 0 10%;
  &__header {
    @include flex(column, center);
    gap: 1.25rem 0;
  }
  &__main {
    @include flex(row, center);
    flex-wrap: wrap;
    gap: 3.75rem 1.25rem;
    margin-top: 5rem;
    &__chrome,
    &__firefox,
    &__opera {
      width: 17.5rem;
      box-shadow: 0 0.5rem 1.25rem 0 hsla(229, 8%, 60%, 0.2);
      background-image: url("../../assets/images/bg-dots.svg");
      background-repeat: no-repeat;
      background-position: bottom 5.9375rem center;
      padding: 1.875rem 1.5625rem 1.5625rem 1.5625rem;
      border-radius: 0 0 0.9375rem 0.9375rem;
      h3 {
        margin: 1.875rem 0 0.625rem 0;
      }
      p {
        margin-bottom: 3.75rem;
      }
      button {
        @include btn($softBlue);
        padding: 0.9375rem 1.5625rem;
      }
    }
  }
  @media (min-width: 48rem) {
    margin-top: 12.5rem;
    &__header {
      max-width: 31.25rem;
      margin: auto;
    }
  }
  @media (min-width: 64rem) {
    &__main {
      flex-wrap: nowrap;
      gap: 3.75rem 2.5rem;
      &__firefox {
        transform: translateY(2.5rem);
      }
      &__opera {
        transform: translateY(5rem);
      }
    }
  }
}
