*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-width: 20rem;
  max-width: 90rem;
  min-height: 100vh;
  margin: auto;
  font-family: "Rubik", sans-serif;
}

// colors
$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);
$grayishBlue: hsl(229, 8%, 60%);
$veryDarkBlue: hsl(229, 31%, 21%);

// mixins
@mixin flex($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}

@mixin btn($background) {
  background-color: $background;
  padding: 0.9375rem;
  border-radius: 0.3125rem;
  color: #fff;
  white-space: nowrap;
  &:hover {
    background-color: transparent;
    box-shadow: 0 0 0 0.125rem $background;
    color: $background;
  }
}

@mixin bgShape($width, $height, $transY) {
  &::before {
    content: "";
    width: $width;
    height: $height;
    background-color: $softBlue;
    transform: translateY($transY);
    position: absolute;
    right: 0;
    z-index: -1;
    border-radius: 6.25rem 0 0 6.25rem;
  }
}

@mixin underline($color, $transY) {
  &::after {
    content: "";
    width: 80vw;
    height: 0.0625rem;
    background-color: $color;
    transform: translateY($transY);
    left: 10%;
    position: absolute;
  }
}

button {
  background: none;
  border: none;
  font-size: 0.875rem;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

p {
  font-size: 1rem;
  color: $grayishBlue;
  line-height: 1.5625rem;
}

h1 {
  font-size: 1.75rem;
  color: $veryDarkBlue;
}

h2 {
  font-size: 1.5rem;
  color: $veryDarkBlue;
}

h3 {
  color: $veryDarkBlue;
}

a {
  font-size: 0.875rem;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.125rem;
  cursor: pointer;
  &:hover {
    color: $softRed;
  }
}
